@charset "utf-8";

/* 모바일,  pc */
.only-pc {
  display: block;
}
@media screen and (max-width: 768px) {
  .only-pc {
    display: none !important;
  }
}
.only-mo {
  display: block;
}
@media screen and (min-width: 768px) {
  .only-mo {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .center-mo {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .right-mo {
    text-align: right;
  }
}
/* 모바일,  pc end*/

.main {
  position: relative;
  z-index: 2;
  background: #fff;
  display: block;
}
/* 공통 main-title======================================================================================= */
.main-title {
  position: relative;
  z-index: 2;
  padding-right: 60px;
}
@media screen and (max-width: 1365px) {
  .main-title {
    padding-right: 60px;
    padding-right: 4.39239vw;
  }
}
@media screen and (max-width: 768px) {
  .main-title {
    padding-right: 0;
  }
}
.main-title .sub-title {
  display: block;
  overflow: hidden;
  color: #0079fa;
  letter-spacing: 8px;
}
.main-title .sub-title .text {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  content: attr(data-text);
}
@media screen and (max-width: 1355px) {
  .main-title .sub-title .text {
    letter-spacing: 8px;
    letter-spacing: 0.5865vw;
    font-size: 0.95168vw;
    line-height: 1.15;
  }
}
@media screen and (max-width: 768px) {
  .main-title .sub-title .text {
    letter-spacing: 5px;
    font-size: 13px;
    line-height: 1.15;
  }
}
.main-title .title {
  display: block;
  margin-top: 20px;
  font-size: 0;
  color: #212121;
}
@media screen and (max-width: 768px) {
  .main-title .title {
    margin-top: 20px;
    margin-top: 1.46413vw;
  }
}
.main-title .text {
  display: block;
  overflow: hidden;
  font-size: 56px;
  font-weight: 700;
  line-height: 73px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1355px) {
  .main-title .text {
    font-size: 56px;
    font-size: 4.09956vw;
    line-height: 73px;
    line-height: 5.34407vw;
  }
}
@media screen and (max-width: 768px) {
  .main-title .text {
    font-size: 32px;
    line-height: 1.38vw;
  }
}
.main-title .desc {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #212121;
}
@media screen and (max-width: 1355px) {
  .main-title .desc {
    margin-top: 30px;
    margin-top: 2.19619vw;
    font-size: 24px;
    font-size: 4.75695vw;
    line-height: 40px;
    line-height: 2.92826vw;
  }
}
@media screen and (max-width: 768px) {
  .main-title .desc {
    margin-top: 13px;
    font-size: 16px;
    line-height: 26px;
  }
}
.main-title .btn-view {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  color: #212121;
}
@media screen and (max-width: 768px) {
  .main-title .btn-view {
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 1.08;
  }
}
/* ======================================================= */
/* main-content */
.main-content {
  position: relative;
  z-index: 2;
  background: #fff;
}

/* 1.visual */
.visual {
  position: relative;
  height: calc(var(7.84px, 1vh) * 100);
  width: 100%;
}
.visual-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.visual .swiper {
  height: 100%;
}

.visual-content {
  position: absolute;
  left: 160px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.visual .swiper-slide.is-right .visual-content {
  position: absolute;
  right: 160px;
  right: 11.71303vw;
  left: auto;
}
.swiper-slide.is-left .visual-content {
  left: 160px;
  right: auto;
}
.visual .swiper-slide.is-bottom .visual-content {
  bottom: 192px;
  bottom: 14.05564vw;
  top: auto;
}
.visual .swiper-slide.is-top .visual-content {
  top: 182px;
  bottom: auto;
}
.visual .swiper-slide.is-text-right .visual-content {
  text-align: right;
}
.visual .swiper-slide .visual-content {
  top: auto;
  bottom: 192px;
  color: #fff;
  max-width: calc(100% - 320px);
}
/* 여기서 부터 sub-title어디갔는지 찾기 =================================================*/
.visual-content .sub-title {
  display: block;
  overflow: hidden;
}
.visual-content .sub-title .text {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  line-height-step: 8px;
  transform: translateY(100%);
  transition: transform 0.75s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.visual .title {
  display: block;
  margin-top: 20px;
}
.visual-content .text {
  display: block;
  overflow: hidden;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.3;
  transform: translateY(100%);
  transition: transform 0.5s;
  transition-delay: calc(var(--i) * 0.1s);
  word-wrap: break-word;
  word-break: break-all;
}

@media screen and (max-width: 1600px) {
  .visual .swiper-slide.isright .visual-content {
    right: 160px;
    right: 11.71303vw;
  }
}
@media screen and (max-width: 1356px) {
  .visual-content {
    left: 160px;
    left: 11.71303vw;
    max-width: 689px;
    max-width: 50.21962vw;
    font-size: 40px;
    font-size: 2.92826vw;
  }
  .visual .swiper-slide.is-right .visual-content {
    right: 160px;
    right: 11.71303vw;
  }
  .visual .swiper-slide.is-bottom .visual-content {
    bottom: 192px;
    bottom: 14.05564vw;
  }
  .visual .swiper-slide.is-top .visual-content {
    top: 182px;
    top: 13.32357vw;
  }

  .visual-content .sub-title .text {
    font-size: 20px;
    font-size: 1.46413vw;
    line-height: 24px;
    line-height: 1.75695vw;
    letter-spacing: 8px;
    letter-spacing: 0.58565vw;
    color: #fff;
  }
  .visual .title {
    margin-top: 20px;
    margin-top: 1.46413vw;
  }
  .visual-content .text {
    font-size: 80px;
    font-size: 5.85652vw;
    line-height: 101px;
    line-height: 7.39385vw;
  }
}
@media screen and (max-width: 768px) {
  .visual-content {
    top: 105px;
    left: 24px;
    max-width: calc(100% - 48px);
  }
  .visual .swiper-slide.is-right .visual-content {
    right: 24px;
  }
  .visual .swiper-slide.is-bottom .visual-content {
    bottom: 148px;
  }
  .visual .swiper-slide.is-top .visual-content {
    top: 145px;
  }
  .visual-content .sub-title .text {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 5.2px;
  }
  .visual .title {
    margin-top: 20px;
  }
  .visual-content .text {
    font-size: 32px;
    line-height: 46px;
  }
}

/* 1.visual end */

/* 2.key-info */
.key-info {
  position: relative;
  z-index: 3;
  padding-top: 160px;
  background: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section-box {
  display: flex;
}
/* 왼쪽 제목부분 */
.key-info .main-title {
  margin-right: 80px;
}
.key-info .sub-title {
}
.key-info .title {
}
.key-info .title .text {
}

/* 왼쪽 제목부분 끝 */
/* 내용 부분 */
.section-col-right {
}
.key-info .key-info-desc {
  margin-top: 50px;
  font-size: 20px;
  line-height: 32px;
  color: #757575;
  word-break: keep-all;
}
.key-info .statistic-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.key-info .statistic-item {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  margin-top: 80px;
}
.key-info .statistic-item:nth-child(2n + 2) {
  padding-left: 25px;
}
.key-info .statistic-title {
  font-size: 18px;
  line-height: 19px;
  color: #757575;
}
.key-info .statistic-detail {
  display: flex;
  margin-top: 12px;
  font-size: 80px;
  font-weight: 800;
  line-height: 84px;
  color: #212121;
}
.key-info .statistic-detail .unit {
  font-size: 48px;
}
@media screen and (max-width: 1365px) {
  .key-info .key-info-desc {
    margin-top: 53px;
    margin-top: 3.87994vw;
    font-size: 20px;
    font-size: 1.46413vw;
    line-height: 32px;
    line-height: 2.34261vw;
  }
  .key-info .statistic-list {
    margin-top: 40px;
    margin-top: 2.92826vw;
  }
  .key-info .statistic-item {
    margin-top: 80px;
    margin-top: 5.85652vw;
    transform: auto;
  }
  .key-info .statistic-item:nth-child(2n + 2) {
    padding-left: 25px;
    padding-left: 1.83016vw;
  }
  .key-info .statistic-title {
    font-size: 18px;
    font-size: 1.31772vw;
    line-height: 19px;
    line-height: 1.39092vw;
  }
  .key-info .statistic-detail {
    margin-top: 12px;
    margin-top: 0.87848vw;
    font-size: 80px;
    font-size: 5.85652vw;
    line-height: 84px;
    line-height: 6.14934vw;
  }
  .key-info .statistic-detail .unit {
    font-size: 48px;
    font-size: 3.51391vw;
  }
}
@media screen and (max-width: 768px) {
  .key-info .key-info-desc {
    margin-top: 53px;
    font-size: 15px;
    line-height: 24px;
    padding-left: 24px;
  }
  .key-info .statistic-list {
    margin-top: 20px;
  }
  .key-info .statistic-item {
    margin-top: 38px;
    justify-content: space-between;
  }
  .key-info .statistic-item:nth-child(2n + 2) {
    padding-left: 0;
  }
  .key-info .statistic-title {
    font-size: 14px;
    line-height: 17px;
    word-break: keep-all;
  }
  .key-info .statistic-detail .unit {
    font-size: 24px;
  }
}
/* 내용 부분 끝 */
/* 2.key-info end */

/* 3.lab */
.lab {
  position: relative;
  z-index: 3;
  pad: 156px 0 160px;
  background: #fff;
}
.lab .section-box {
  position: relative;
  display: flex;
}
.lab .section-col-left {
  /* 왼쪽 영역 전체 */
  margin-top: 150px;
}
.lab .main-title {
  /* 왼쪽 영역에서 txt 영역 */
  position: sticky;
  top: 270px;
  left: 0;
  top: calc(var(--top) * 1px);
  bottom: calc(var(--bottom) * 1px);
  z-index: 2;
  padding-right: 0;
}

.lab .section-col-right {
  margin-left: -55px;
}
.lab-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lab .lab-item {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 1.4s;
}
.lab .lab-item:nth-child(2) {
  margin-top: 280px;
}
.lab .lab-item:nth-child(3) {
  margin-top: 120px;
}
.lab .lab-item:nth-child(4) {
  margin-top: 120px;
  width: 384px;
  height: 384px;
}
.lab .lab-item:nth-child(4) .lab-info-hover .info {
  padding: 0 40px 95px 22px;
}
.lab .lab-item:nth-child(5) {
  margin-top: 382px;
}
.lab .lab-item:nth-child(6) {
  margin-top: -230px;
}
.lab .lab-item.active {
  opacity: 1;
  transform: translateY(0);
}
.lab .lab-link {
  position: relative;
  display: block;
  color: #fff;
}
.lab .lab-item img {
  max-width: 100%;
  object-fit: cover;
}
.lab .lab-info {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.lab .info-title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.lab .info-desc {
  display: block;
  margin-top: 6px;
  font-size: 18px;
  line-height: 21px;
}
.lab .lab-info-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  background-color: rgba(0, 121, 250, 0.8);
  opacity: 0;
  transition: opacity 0.85s;
}
.lab .lab-info-hover .info {
  margin-top: auto;
  padding: 0 40px 147px 22px;
}
.lab .lab-info-hover::after {
  content: "";
  position: absolute;
  bottom: 40px;
  right: 28px;
  width: 24px;
  height: 24px;
  background-image: url("../img/section/icons-svg-e728b9e1897e258e70755f4eb15bc40b.svg");
  background-size: 1513px 1470px;
  background-position: -164px -1442px;
  background-repeat: no-repeat;
  opacity: 0;
  transform: translateX(-15px);
  transition: all 0.4s;
}
.lab .lab-info-hover .info .icon {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.35s;
  transition-delay: 0.1s;
}
.icon-lab-center {
  width: 100px;
  height: 100px;
  background-image: url("../img/section/icons-svg-e728b9e1897e258e70755f4eb15bc40b.svg");
  background-size: 1513px 1470px;
  background-position: -1038px -440.24px;
  background-repeat: no-repeat;
}
.lab .lab-info-hover .info-title {
  padding-left: 20px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.35s;
  transition-delay: 0.1s;
}
.lab .lab-info-hover .info-desc {
  margin-top: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 28px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.35s;
  transition-delay: 0.12s;
}
/* 3.lab end */

/* 4.intro lab */
.intro-lab {
  padding: 200px 0;
}
/* 4.intro lab end */

/* 5.main-brand */
.main-brand {
  position: relative;
  overflow: hidden;
  padding: 180px 0 260px;
  transition: background 1.2s ease-in;
  transition-delay: 150ms;
  color: #fff;
  text-align: center;
}
/* 5.main-brand  end*/

/* 6.business */
.business-philosophy {
  padding: 200px 0 120px;
}
/* 6.business end */

/* 7.news */
.news {
  overflow: hidden;
  padding: 160px 0 200px;
}
/* 7.news end */

/* 8.backtotop */
.back-to-top {
  position: fixed;
  right: 40px;
  bottom: 34px;
  width: 56px;
  height: 56px;
  z-index: 9;
  display: none;
}
/* 8.backtotop end */

/* main-content end */

/* content-bottom */
.content-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* content-bottom ena */
